/* Color definition */
:root {
  --back_color: #2A3132;
  --main_color: #336B87;
  --secondary_color: #90AFC5;
  --contrast_color: #763626;

  --node_clean_color: #e8f5fd;
  --node_start_color: #025dd4;
  --node_end_color: #be0f0f;
}

/* App */ 
* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
}

header {
  background-color: var(--back_color);
}

body {
  background-color: var(--back_color);
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

/* Pathfinder Visualizer */

.content {
  display: grid;
  grid-template-columns: 180px max-content;
}

.side-bar {
  background-color: white;
  border-radius: 10px;
}

.grid-container {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  border: 10px solid var(--main_color);
  display: inline-block;
}

.grid1 {
  margin: 20px 0 0 50px;
}

.row-div {
  display: flex;
}

/* App Controls */

.app-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
  font-size: 30px;
}

.controls-bar {
  background-color: var(--back_color);
  display: grid;
  grid-template-columns: 20% 80%;
}

.controls-bar label {
  color: var(--secondary_color);
  font-size: 20px;
}

.slider-div {
  height: 80px;
  margin: 10px 50px;
  display: grid;
}

.hidden {
  visibility: hidden;
}

.slider {
  width: 180px;
}

.vl {
  border-left: 3px solid white;
  margin: 15px;
  height: 40px;
}

.algorithmBtns-div {
  margin: 10px 50px;
  display: flex;
}

.controls-bar button {
  margin: 15px;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  padding-inline: 20px;
}

.btn-reset {
  color: white;
  border: none;
  background-color: var(--main_color);
  cursor: pointer;
}

.btn-reset:hover {
  color: white;
  background-color: #1b5a7a;
}

.btn-clean {
  color: white;
  border: none;
  background-color: var(--main_color);
  cursor: pointer;
}

.btn-clean:hover {
  color: white;
  background-color: #1b5a7a;
}

.btn-disabled {
  background-color: var(--secondary_color) !important;
  cursor: auto !important;
}

.btn-algorithms {
  color: var(--secondary_color);
  border: none;
  padding-inline: 20px;
  background-color: rgba(0,0,0,0);
}

.btn-algorithms:hover {
  color: var(--main_color);
}

.btn-algorithms-disabled {
  color: #1b5a7a;
  border: none;
  padding-inline: 20px;
  background-color: rgba(0,0,0,0);
  cursor: auto !important;
}

.rangeslider__fill {
  background-color: var(--secondary_color) !important;
}

/* Tools */
.tools-bar {
  padding: 10px 10px;
  text-align: left;
}

.tools-element {
  padding: 0px 10px;
  margin-bottom: -5px;
}

.hidden {
  visibility: hidden;
}

/* Modal */
.modal-buttons {
  display: block !important;
  text-align: center !important;
}