
.node {
  outline: 1px solid var(--back_color);
  font-family: 'Arial', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: var(--node_clean_color);
  font-size: 16px !important;
}

.node-clean {
  background-color: var(--node_clean_color);
}

.node-end {
  color: var(--node_end_color);
  animation-name: specialNodeAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  cursor: grab !important;
}

.node-end:active {
  cursor: grabbing !important;
}

.bi-broadcast {
  fill:rgba(176, 221, 12, 0.75)
}

.node-start {
  color: var(--node_start_color);
  animation-name: specialNodeAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  cursor: grab !important;
}

.node-start:active {
  cursor: grabbing !important;
}

@keyframes specialNodeAnimation {
  0% {
    background-color: var(--node_clean_color);
    outline: none;
    transform: scale(.3);
  }

  40% {
    background-color: var(--node_clean_color);
    outline: none;
    transform: scale(.7);
  }

  75% {
    background-color: var(--node_clean_color);
    outline: none;
    /*transform: scale(1.2);*/
  }

  100% {
    /*transform: scale(1.0);*/
  }
}

.node-winner {
  background-color: rgb(233, 139, 17);
  animation-name: winnerAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes winnerAnimation {
  0% {
    transform: scale(.3);
    border-radius: 100%;
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}

.node-wall {
  background-color: darkslategray !important;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.input-weight {
  border: 0px solid var(--back_color);
  background-color: var(--node_clean_color);
  text-align: center;
  font-weight: bold;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
